__pycache__
*.xlsx
run_test.xlsx
chromedriver.exe
chrome-win
*.csv
*.png
.venv
venv
*.xlsx
run_test.xlsx
build
dist
ekitenScrapy/dist
ekitenScrapy/build
ekitenScrapy/.scrapy
ekitenScrapy/temp
ekitenScrapy/__pycache__
ekitenScrapy/main.build
ekitenScrapy/main.dist
