__pycache__
*.xlsx
run_test.xlsx
chromedriver.exe
chrome-win
*.csv
*.png
.venv
venv
*.xlsx
run_test.xlsx
build
dist
ekitenScrapy/dist
ekitenScrapy/build
ekitenScrapy/.scrapy
ekitenScrapy/temp
ekitenScrapy/__pycache__
ekitenScrapy/main.build
ekitenScrapy/main.dist
ekitenScrapy/*.pyo
ekitenScrapy/ekitenScrapy/*.pyc
*.pyo
main.build/
main.dist/
main.onefile-build/
main.exe
ekitenScrapy/ekitenScrapy/spiders/func.py
dict.txt
dict.py
Dictionary.pkl
main.spec
